<h5 class="mb-3">{{ page.title }}</h5>

<p>{{ page.paragraph }}</p>

<div class="sticky-top sticky-top-offset">
    <h4 class="spanborder"><span>Featured Posts</span></h4>  
    <ol class="list-featured">
        {% assign search_tag = page.searchTag %}				
        {% for post in site.tags[search_tag] %}      
        {% if post.tags contains "featured" %}         
            <li class="mb-4">
            <span>
                <h6 class="">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted">
                    In <span class="catlist">
                    {% for category in post.categories %}
                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
                    {% endfor %}
                    </span>
                </span>
            </span>
            </li>    
            {% endif %}            
        {% endfor %}   
    </ol>
</div> 